*.class
.settings/
.checkstyle
target/
tck/bin/
.project
build/
.classpath
.factorypath
test-output
/*.log
.idea
*.iml
*.iwl
*.ipr
# Ignore a release.conf for perform_release/* script usage
release.conf
